@media (max-width: 1265px) {
  .reviews-slider .slick-list {
    margin: 0;
  }
  
  .reviews-slider .slick-slide {
    margin: 0;
  }

  .reviews-box {
    box-shadow: none;
  }
}

@media (max-width: 1176px) {

  .pricing__price-list {
    justify-content: center;
  }

  .pricing__price-item {
    margin-bottom: 40px;
  }

  .pricing__price-item:nth-of-type(3n) {
    margin-right: 30px;
  }
  
  /* .pricing__price-item {
    width: 48%;
    margin-bottom: 20px;
  }

  Такая вечеринка применяетс, когда элемент абсолютно спозиционирован и он должен узнать свои границы, чтобы отцентроваться
  .price-card__price {
    left: 0;
    right: 0;

    margin: 0 auto;
  } */

}

@media (max-width: 1139px) {

  .partners__list {
    justify-content: center;
  }

}

@media (max-width: 1102px) {

  .promo-article__info {
    max-width: 425px;
  }

}

@media (max-width: 1044px) {

  .reviews {
    padding: 75px 0 70px;
  }

  .reviews-slider {
    margin-top: 70px;
  }

  .reviews-box {
    width: 524px;
    margin: 0 auto;
  }

}

@media (max-width: 992px) {

  .page-navigation__list {
    position: absolute;
    top: 86px;
    left: 0;

    display: none;
    width: 100%;

    text-align: center;

    background-color: #fff;

    z-index: 15;
  }

  .burger-menu {
    display: block;
  }

  .page-navigation__item {
    padding: 0;
    margin-right: 0;
  }

  .page-navigation__link {
    display: block;
    padding: 10px 0;

    border-bottom: 1px solid #2f3f54;
  }

  .page-navigation__item:first-of-type .page-navigation__link {
    border-top: 1px solid #2f3f54;
  }

}

@media (min-width: 992px) {

  /* Убираем специфичность внутреннего стиля, который задает jquery */
  .page-navigation__list {
    display: flex !important;
  }

}

@media (max-width: 970px) {

  .promo-article__info {
    max-width: 325px;
  }

}

@media (max-width: 880px) {

 .promo-article__superman {
   width: 300px;
   height: 400px;
 }

 .circle-price {
   top: 165px;
   left: 166px;

   width: 170px;
   height: 170px;
 }

}

@media (max-width: 816px) {

  .pricing {
    padding: 80px 0 50px;
  }

  .pricing__text--small {
    margin-bottom: 60px;
  }

}

@media (max-width: 756px) {

  .pricing__price-item,
  .pricing__price-item:nth-of-type(3n) {
    margin-right: 0;
  }

}

@media (max-width: 740px) {

  .promo-article .container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .promo-article__info {
    max-width: 100%;
    margin: 50px 0 100px;
    padding-top: 1px;
  }

  .promo-article__superman {
    margin: 0;
    margin-bottom: 80px;
    padding-bottom: 1px;
  }

  .circle-price {
    top: -27px;
    left: 179px;
  }

}

@media (max-width: 610px) {

  .partners {
    padding-top: 60px;
    padding-bottom: 25px;
  }

}

@media (max-width: 560px) {
  .reviews-box {
    width: 100%;
    display: block;
  }

  .reviews-box__image {
    width: 100%;
    min-height: 200px;
  }

  .reviews-box__content {
    width: 100%;
    min-height: 280px;
    padding: 20px;
  }

}

@media (max-width: 425px) {

  .promo-article .container {
    justify-content: flex-start;
  }

  .promo-article__title {
    font-size: 40px;
    line-height: 42px;
  }

}

@media (max-width: 400px) {

  .promo-article__superman {
    position: relative;
    top: 0;
    left: -7px;
  }

  .circle-price {
    top: -24px;
    left: 118px;
  }

  .pricing__text--bold {
    font-size: 40px;
    line-height: 42px;
  }

  .price-card {
    padding-left: 20px;
  }

}