*, *::after, *::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  color: #4a6385;

  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  /* Максимальная ширина задается для последующей адаптивности */
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 100%;

  font-family: "Open Sans", "Verdana", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #2f3f54;

  border-top: 1px solid #2c7de8;
}

.page-header .container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.page-navigation__list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-navigation__item {
  margin-right: 35px;
  padding: 35px 0;
}

.page-navigation__item:last-of-type {
  margin-right: 0;
}
